.glow {
	position: relative;
	width: 15vw;
	height:15vw;
	background: -webkit-gradient(linear,left bottom, left top,from(#000000),to(#262626));
	background: -webkit-linear-gradient(bottom,#000000,#262626);
	background: -moz-linear-gradient(bottom,#000000,#262626);
	background: -o-linear-gradient(bottom,#000000,#262626);
	background: linear-gradient(0deg,#000000,#262626);

}
.glow::before, .glow::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	background: -webkit-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
	background: -moz-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
	background: -o-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
	background: linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
	-webkit-background-size: 400% 400%;
	   -moz-background-size: 400%;
	     -o-background-size: 400%;
	        background-size: 400%;
	max-width: -webkit-calc(100% + 4px);
	max-width: -moz-calc(100% + 4px);
	max-width: calc(100% + 4px);
	max-height: -webkit-calc(100% + 4px);
	max-height: -moz-calc(100% + 4px);
	max-height: calc(100% + 4px);
	width: -webkit-calc(100% + 4px);
	width: -moz-calc(100% + 4px);
	width: calc(100% + 4px);
	height: -webkit-calc(100% + 4px);
	height: -moz-calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	-webkit-animation: animate 20s linear infinite;
	   -moz-animation: animate 20s linear infinite;
	     -o-animation: animate 20s linear infinite;
	        animation: animate 20s linear infinite;
}
.glow::after {
	-webkit-filter: blur(20px);
	        filter: blur(20px);
}
.text-container {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
input[type="range"] {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 5px;
	vertical-align: middle;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	background-color: #232323;
	outline: none;
}
input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid  #000000;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	background: #ffffff;
}
#seek {
	display: block;
	justify-content: center;
	width: 100%;
}
.seekbar {
	line-height: 1;
}
@-webkit-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-moz-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-o-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}