{% extends "layout.html" %}
{% block content %}
<section class="wrapper style1-alt fade-up fullscreen">
    <div class="inner">
        <h1>Search the Different types of activities</h1>
        <div class="features">
            <section>
                <h2>Music Search</h2>
                <select name="demo-category" id="demo-category">
                    <option value="1">-Genre-</option>
                    <option value="1">EDM</option>
                    <option value="1">COuntry</option>
                    <option value="1">Pop</option>
                    <option value="1">Dancing</option>
                </select>
            </section>
            <section>
                <h2>Activity Search </h2>
                <select name="demo-category" id="demo-category">
                    <option value="1">-Activity Type-</option>
                    <option value="1">Multiple People</option>
                    <option value="1">Active</option>
                    <option value="1">Tech</option>
                    <option value="1">Dancing</option>
                </select>
            </section>
            <section>
                <h2>Book/Reading Search</h2>
                <select name="demo-category" id="demo-category">
                    <option value="1">-Genre-</option>
                    <option value="1">Horror</option>
                    <option value="1">COmedy</option>
                    <option value="1">Drama</option>
                    <option value="1">Active</option>
                </select>
            </section>
            <section>
                <h2>Home Workouts Search</h2>
                <select name="demo-category" id="demo-category">
                    <option value="1">-Workout Types-</option>
                    <option value="1">Lifting</option>
                    <option value="1">Exhaustive</option>
                    <option value="1">Cardio</option>
                    <option value="1">Boxing</option>
                </select>
            </section>
        </div>
        <a class="button scrolly" href="/Suggestions">See activities!!</a>
    </div>

</section>
{% endblock content %}