{% extends "layout.html" %}
{% block content %}
<section id="Explore" class="wrapper style1 fade-up fullscreen">
    <div class="inner">
        <h2>Discover Activities</h2>
        <p>DIscover different types of activities you can do while inside the comfort of your home.</p>
        <div class="features">
            <section>
                <h3>Music</h3>
                <p>Discover Music that you will enjoy and will keep you going.</p>
                <a class="button scrolly">Discover Music</a>
            </section>
            <section>
                <h3>Movies/Shows</h3>
                <p>Discover movies or shows, that can keep you entertained while inside home.</p>
                <a class="button scrolly">Discover new Movies and Shows</a>
            </section>
            <section>
                <h3>Home Workouts </h3>
                <p>Discover fitness plans as workouts to do at home.</p>
                <a class="button scrolly">Discover Home-Workout Plans</a>
            </section>
            <section>
                <h3>Nutrition Plans</h3>
                <p>Discover Nutrition Plans to stay Fit while inside.</p>
                <a class="button scrolly">Discover Nutrition Plans</a>
            </section>
            <section>
                <h3>Random Activities</h3>
                <p>Discover Random activities if you are bored</p>
                <a class="button scrolly">Discover Random Activities</a>
            </section>
            <section>
                <h3>Books/Readings</h3>
                <p>Discover new books and readings that will get you hooked.</p>
                <a class="button scrolly">Discover Books and Readings</a>
            </section>
        </div>
    </div>
</section>
{% endblock content %}