
{% extends "layout.html" %}
{% block content %}
    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Boring-tine</h1>
            <p>
                Feeling boring at home? <br>
                Can't hit the gym?<br>
                Is this quarantine crushing your plans? <br>
            </p>
            <ul class="actions">
                <li><a class="button scrolly" href="/MoodQuiz">Need Some Activity Suggestions?</a></li>
                <li><a class="button scrolly" href="/Explore"> Explore Activities!!</a></li>	
            </ul>
            <p>
                Boring-tine can help you out find different types of activities during this boring quarantine<br>
                Have Fun!
            </p>
        </div>
    </section>

{% endblock content %}