
{% extends "layout.html" %}
{% block content %}
<section id = "Quiz" class = "wrapper style2 fullscreen fade-down">
    <div class="inner">
        <section>
            <h2>Mood/Traits Quiz</h2>
            <p>
                Here you can take this quiz in order to give you some Suggestions on what to do based on your personality
            </p>
                <section>
                    <h2>Personality Questions</h2>
                    <form method="post" action="" > 
                        {{ form.hidden_tag() }}
                        <div class="fields inner">
                            <div class="field half">

                                {{form.question1.label}}
                                {% if form.question1.errors %}
                                    {{ form.question1 }}	
                                        <div class="inner">
                                            {% for error in form.question1.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question1}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question2.label}}
                                {% if form.question2.errors %}
                                    {{ form.question2 }}	
                                        <div class="inner">
                                            {% for error in form.question1.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question2}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question3.label}}
                                {% if form.question3.errors %}
                                    {{ form.question3 }}	
                                        <div class="inner">
                                            {% for error in form.question3.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question3}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question4.label}}
                                {% if form.question4.errors %}
                                    {{ form.question4 }}	
                                        <div class="inner">
                                            {% for error in form.question4.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question4}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question5.label}}
                                {% if form.question5.errors %}
                                    {{ form.question5 }}	
                                        <div class="inner">
                                            {% for error in form.question5.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question5}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question6.label}}
                                {% if form.question6.errors %}
                                    {{ form.question6 }}	
                                        <div class="inner">
                                            {% for error in form.question6.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question6}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question7.label}}
                                {% if form.question7.errors %}
                                    {{ form.question7 }}	
                                        <div class="inner">
                                            {% for error in form.question7.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question7}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question8.label}}
                                {% if form.question8.errors %}
                                    {{ form.question8 }}	
                                        <div class="inner">
                                            {% for error in form.question8.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question8}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question9.label}}
                                {% if form.question9.errors %}
                                    {{ form.question9 }}	
                                        <div class="inner">
                                            {% for error in form.question9.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question9}}
                                {% endif %}
                            </div>
                            <div class="field half">

                                {{form.question10.label}}
                                {% if form.question10.errors %}
                                    {{ form.question10 }}	
                                        <div class="inner">
                                            {% for error in form.question10.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.question10}}
                                {% endif %}
                            </div>
                        </div>
                        <ul class="actions">
                            {{form.submit}}
                        </ul>
                    </form>
                </section>
        </section>
    </div>
<section>
{% endblock content %}