
{% extends "layout.html" %}
{% block content %}
<section id = "Quiz" class = "wrapper style2 fullscreen fade-down">
    <div class="inner">
        <section>
            <h2>Mood/Traits Quiz</h2>
            <p>
                Here you can take this quiz in order to give you some Suggestions on what to do
            </p>
                <section>
                    <form method="post" action="" novalidate    > 
                        {{ form.hidden_tag() }}
                        <!-- {{ form.csrf_token }} -->
                        <div class="fields">
                            <div class="field third">
                                {{form.name.label}}
                                {% if form.name.errors %}
                                    {{ form.name }}	
                                        <div class="inner">
                                            {% for error in form.name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.name}}
                                {% endif %}
                                <!-- {{form.name}} -->
                            </div>
                            <div class="field third">
                                <!-- {{form.age.label}}
                                {{form.age}} -->

                                {{form.age.label}}
                                {% if form.age.errors %}
                                    {{ form.age }}	
                                        <div class="inner">
                                            {% for error in form.age.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.age}}
                                {% endif %}
                            </div>
                            <div class="field third">
                                <!-- {{form.mood.label}}
                                {{form.mood}} -->

                                {{form.mood.label}}
                                {% if form.mood.errors %}
                                    {{ form.mood }}	
                                        <div class="inner">
                                            {% for error in form.mood.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.mood}}
                                {% endif %}
                            </div>
                            <div class="field third">
                                <!-- {{form.gender.label}}
                                {{form.gender}} -->
                                {{form.gender.label}}
                                {% if form.gender.errors %}
                                    {{ form.gender }}	
                                        <div class="inner">
                                            {% for error in form.gender.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.gender}}
                                {% endif %}
                            </div>
                            <div class="field half">
                                {{form.interests.label}}
                                {% if form.interests.errors %}
                                    {{ form.interests }}	
                                        <div class="inner">
                                            {% for error in form.interests.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}	
                                        </div>
                                {% else %}
                                    {{form.interests}}
                                {% endif %}
                            </div>
                        </div>
                        <h2>Personality Questions</h2>
                        <div class="fields inner">
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question1.label }} {{ form.question1(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question2.label }} {{ form.question2(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question3.label }} {{ form.question3(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question4.label }} {{ form.question4(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question5.label }} {{ form.question5(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question6.label }} {{ form.question6(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question7.label }} {{ form.question7(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question8.label }} {{ form.question8(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question9.label }} {{ form.question9(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                                <div class = "field half d-flex justify-content-center">
                                    {{ form.question10.label }} {{ form.question10(rows=3, multiple=True,class="radio-inline") }}
                                </div>
                        </div>
                        <ul class="actions">
                            {{form.submit}}
                        </ul>
                    </form>
                </section>
        </section>
    </div>
<section>
{% endblock content %}